		body {background-color:#222831;}
		h2 {color:#00ADB5;font-family:algerian; text-align:center;}
		p {color:#EEEEEE; font-family:Times New Roman;}
		div {background-color:#393E46;}
		a {color:#EEEEEE; font-family:Times New Roman;}